/*#root {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}*/

#root,
.c-app {
  background-color: #f5f6f8;
  /* fondo gris claro general */
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0 auto;
  padding: 0;
}

